.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 999;
    cursor: pointer;
}

.toast{
    display: none;

    margin-top: 15px;
    min-width: 250px;
    background-color: #333;
    border: 1px solid #232323;
    padding: 16px;
    
    text-align: center;
    color: aliceblue;
    
    position: fixed;
    z-index: 1;
    /* margin-left: -125px; */
}

.toast-show{
    display: flex;
}