@use "/src/sass/variables" as *;

.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 46px;
  background-color: $steam-panel;
  border-bottom: 1px solid $steam-border-light;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: $box-shadow;
  margin-bottom: 10px;
  &-nav{
    display: flex;
    color: $steam-text-soft;
    &__list{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      font-size: $font-size-xl;
      letter-spacing: 1.2px;
    }
    &__items:hover{
      display: flex;
      color: $steam-blue;
      transition-duration: $transition-duration;
    }
  }
  &__search{
    display: flex;
    width: 100%;
    margin: 0 10px;
    max-width: 445px + 34px;
    box-shadow: $box-shadow;
    &-input{
      height: $inputSearch;
      color: $steam-text-soft;
      width: 100%;
      max-width: 445px;
      padding: 0;
      padding-left: 10px;
      border: $border;
      border-radius: 8px 0 0 8px;
      border-right: none;
      background: rgba(255,255,255,0.08);
      &:hover{
        background-color: rgba(255,255,255,0.15);
      }
      &:active{
        background-color: rgba(255,255,255,0.2);
      }
    }
  }    
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $steam-text-soft;
    padding: 0;
    border: $border;
    border-left: 1px solid $color-dark-2;
    border-radius: 0 8px 8px 0;
    
    &--search{
      height: $inputSearch;
      width: $inputSearch;
      background-color: rgba(255,255,255,0.15);
    }
    &--add{
      height: $inputSearch;
      width: 170px;
      background-color: rgba(255,255,255,0.15);
      border-radius: 8px;
    }
    &:hover{
      background-color: $steam-blue;
      .btn_icon{
        transform: scale(1.2);
      }
    }
  }
}

.tracker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  
  &-nav{
    margin: 10px;
    &__list{
      display: flex;
      gap: 4px
    }
    &__items{
      background: rgba(255,255,255,0.08);
      backdrop-filter: blur(8px);
      color: $steam-text-soft;
      padding: 6px 10px;
      border: $border;
      border-radius: 12px;
      &:hover{
        background:$steam-blue;
      }
      &:active{
        background:rgba(255,255,255,0.2);
      }
    }
  }
  &-table{
    margin-top: 10px;
    gap: 1px;
    display: grid;
    background-color: $steam-panel-light;
    border: $border;
    border-radius: 12px;
    margin-bottom: 12px;
  }

  &-table__header{
    display: contents;
  }
  &-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    background-color: $steam-panel-light;
    border: $border;
    border-radius: 12px;
    color: $steam-text-soft;
    letter-spacing: 0.5px;
  }
}
.row{
  display: grid;
  grid-template-columns: 30px 720px 180px 100px;
  grid-template-rows: 45px;
  gap: 1px;

  text-align: center;
  align-items: center;
  &:not(:has(.status:hover)):hover{
    background-color: rgba(255,255,255,0.15);
    transition-duration: $transition-duration;
    &:first-child{
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }    
    &:last-child{
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  &_header{
    font-size: $font-size-lg;
  }
}

.tracker-table
.row{
  position: relative;
  padding: 2px 0 ;
  &::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      transparent 0%,
      rgba(59, 83, 112, 0.3) 20%,
      rgba(59, 83, 112, 1) 50%,
      rgba(59, 83, 112, 0.3) 80%,
      transparent 100%
    );
    margin: 0 auto;
  }
  &:last-child::after{
    display: none;
  }
}

.col{
  color: $steam-text-soft;
}

.status{
  position: relative;
  border: 1px solid black;
  border-radius: 17px;
  padding: 1px 7px 1px 28px;
  background-color: rgb(255,255,255,0.15);
  letter-spacing: 0.8px;
  &::before{
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid $steam-border-light;
  }
  &:hover{
    background-color: $steam-blue;
    transition-duration: back $transition-duration;
  }
  &--completed::before{ background-color: oklch(0.5862 0.185 145); }
  &--watching::before { background-color: oklch(0.6255 0.1357 240); }
  &--on-hold::before  { background-color: oklch(0.8306 0.1815 73.51); } 
  &--dropped::before  { background-color: oklch(0.4921 0.1973 25); }
  &--planned::before  { background-color: oklch(0.5097 0 300); }
}

.btn_icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4px 4px;
  color: white;
}

.tracker-modal{
  width: 320px;
  color: $steam-text-soft;
  &__body{
    display: flex;
    gap: 20px;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    &--text{
      margin-top: 0;
    }
  }
  &__btn--close{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    font-size: 24px;
    color: $steam-text-soft;
    background-color: rgb(255,255,255,0.15);

    border: $border;
    border-radius: 8px;
    &:hover{
      background-color: rgba(255,255,255,0.15);
      transition-duration: $transition-duration;
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 10px;
  }
  &__label{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    &--text{

    }
  }
  &__input{

  }
  &__select{

  }
}