@use '/src/sass/variables' as *;

.animeTracker{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
    max-width: 1080px;
    min-width: 1000px;
    background-color: $color-white;
    border: $border;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.animeTracker__header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 46px;
}

.animeTracker__search{
    height: 34px;
}

.animeTracker__title{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.animeTracker__form{
    display: flex;
    column-gap: 16px;
}

.animeTracker__field{
    width: 100%;
}