@use '/src/sass/variables' as *;

.btn-search{
    height: $inputSearch;
    width: $inputSearch;
    border: 1px solid $color-dark-2;
    border-radius: 0 8px 8px 0;
}

.btn-filter{
    border: none;
    outline: none;

}