@use 'variables' as *;

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding:0 ;
    font-family: 'Inter', sans-serif;
    background: radial-gradient(
    100% 100% at 50% 100%,
    #182140 5%,
    #132030 70%,
    );
}

input,
label,
button{
    transition-duration: $transition-duration;

}

:focus-visible{
    outline: 2px dashed $color-black;
    outline-offset: 4px;
    transition-duration: 0s !important;
}