@use 'variables' as *;

body{
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding:0 30px;
    font-family: 'Inter', sans-serif;
    background-color: #2e2e2e;
}

input,
label,
button{
    transition-duration: $transition-duration;

}

:focus-visible{
    outline: 2px dashed $color-black;
    outline-offset: 4px;
    transition-duration: 0s !important;
}