body{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
    background-color: #242424;
}

@font-face{ 
	font-family: "Comic Relief";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(/src/assets/fonts/comic-relief.woff2); 
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    font-family: "Comic Relief";
    font-size: 24px;
    color: whitesmoke;

    margin: 0;
}

.head_container{
    display: flex;
    width: 950px;
    height: 60px;
    justify-content: space-between;
    margin: 0 auto;
    background-color: rgba(255, 140, 0, 0.541);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 15px;

}

.brand_logo{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    margin: 0 0 0 15px;
}

.brand_logo > img{
    margin-right: 10px;
    height: 50px;
}
.nav__list{
    display: flex;
    flex-direction: row;
    gap: 5px;

    justify-content: center;

    padding-bottom: 10px;
    margin: 0;
}

.nav__items{
    color: white;
    list-style-type: none;
    font-size: 15px;
}

.nav__items::after{
    content: ' /';
}

.nav__items:last-child::after{
    content: ' ';
}

.tracker-grid{
    display: grid;
    grid-template-columns: 6px 45px 914px 115px;
    border: 1px solid gray;
    font-size: 15px;
    place-content: center;
    text-align: center;
}

.tracker-grid__border{
    border-left: 1px solid gray;
}

.tracker-grid__status-complete{
    background-color: green;
}

.tracker-grid__status-watch{
    background-color: blue;
}

.tracker-grid__status-hold{
    background-color: yellow;
}

.tracker-grid__status-plan{
    background-color: gray;
}

.tracker-grid__status-drop{
    background-color: red;
}

#tracker-body{
    display: flex;
    flex-direction: column;
}

.add-anime-form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.add-title-btn {
    display: flex;
    justify-content: flex-end;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1000;
    
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid black;
}

.modal-header h3{
    color: #fff;
    font-size: 18px;
    margin: 0;
    margin-left: 10px;
}

.modal-content {
    width: 500px;
    height: 150px;
    padding: 50px 14px 0;
    border: 2px solid black;
    background-color: #333;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    position: relative;;
}

.modal-footer{
    margin-top: 15px;
    display: flex;
    justify-content: center;

}

.add-anime-form {
    display: flex;
    flex-direction: column;
}

.add-anime-form p{
    color: white;
    padding: 0;
    margin: 0;
}

.add-anime-form input{
    margin-left: 10px;
    width: 350px;
}

.hidden {
    display: none;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 5px;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 999;
    cursor: pointer;
}

