body{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
    background-color: #242424;
}

@font-face{ 
	font-family: "Comic Relief";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(/src/assets/fonts/comic-relief.woff2); 
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    font-family: "Comic Relief";
    font-size: 24px;
    color: whitesmoke;

    margin: 0;
}

.head_container{
    display: flex;
    width: 950px;
    height: 60px;
    justify-content: space-between;
    margin: 0 auto;
    background-color: rgba(255, 140, 0, 0.541);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 15px;

}

.brand_logo{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    margin: 0 0 0 15px;
}

.brand_logo > img{
    margin-right: 10px;
    height: 50px;
}
.nav__list{
    display: flex;
    flex-direction: row;
    gap: 5px;

    justify-content: center;

    padding-bottom: 10px;
    margin: 0;
}

.nav__items{
    color: white;
    list-style-type: none;
    font-size: 15px;
}

.nav__items::after{
    content: ' /';
}

.nav__items:last-child::after{
    content: ' ';
}

.tracker-grid{
    display: grid;
    grid-template-columns: 6px 45px 914px 115px;
    border: 1px solid gray;
    font-size: 15px;
    place-content: center;
    text-align: center;
}

.tracker-grid__border{
    border-left: 1px solid gray;
}

.tracker-grid__status-complete{
    background-color: green;
}

.tracker-grid__status-watch{
    background-color: blue;
}

.tracker-grid__status-hold{
    background-color: yellow;
}

.tracker-grid__status-plan{
    background-color: gray;
}

.tracker-grid__status-drop{
    background-color: red;
}

#tracker-body{
    display: flex;
    flex-direction: column;
}

.add-anime-form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
