@use '@/styles/scss/_variables' as *;
@use '@/styles/scss/_fonts' as *;

@mixin tracker-grid(){
    display: grid;
    grid-template-columns: 78px 829px 163px 229px 50px;
    grid-template-rows: 47px;

    place-items: center;
    color: $base-white;

    border: 1px solid $color-border;
    border-radius: 0;

    &:not(.tracker-grid__body){
        @include font('heading', 'h6', 'normal', '171');
        border-radius: 8px 8px 0 0;
    }

    &:not(.tracker-grid__header){
        @include font('primary', 'body', 'normal', '171');
        &:not(:last-child) {
            border-bottom: none;
        }
        &:last-child {
            border-radius: 0 0 8px 8px;
        }
    }
}

/* @mixin status__watching{
        position: relative;
        border: 1px solid $color-status__watching;
        border-radius: 17px;
        padding: 1px 7px 1px 28px;
        background-color: $color-status__watching;
        @include font('primary', 'body', 'medium', '171');
        letter-spacing: 0.8px;
        &::before{
            content: '';
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
            width: 14px;
            height: 14px;
            background-color: oklch(0.6255 0.1357 240);
            border-radius: 50%;
    }
} */